@use "top";
@use "modal";
@use "tv";
@use "about";
html {
    box-sizing: border-box;
}

header {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 0 20px;
  background: #ed9517;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 5rem;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;
}

.site-img {
  width: 3rem; 
  height: auto;
}

.header-items {
  display: flex; 
  justify-content: center;
  align-items: center; 
  gap: 15px;
}

.to-another-page {
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  width: 7rem; 
  height: 100%; 
  line-height: 5rem;
}

a .to-another-page  {
  text-decoration: none; 
  color: #000; 
  font-weight: 900;
}

.to-another-page:hover {
  background-color: white; 
  font-weight: 900;
  color: rgb(84, 220, 47);
}


.site-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.site-img img {
  width: 15rem;
}

.header-items {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end; 
  align-items: center;
  gap: 20px; 
}

.to-another-page a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
#search-bar {
  height: 30px; 
  width: 200px; 
  padding: 5px 10px; 
  border: 1px solid rgb(211, 10, 10); 

  border-radius: 9999px; 
  font-size: 14px; 
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    line-height: 1.6;
  }

  @media (max-width: 768px) {
    #movies {
      flex-direction: column;
      align-items: center;
    }
  
    .movie-card {
      width: 80%;
    }
  }
  
  @media (max-width: 480px) {
    .movie-card h3 {
      font-size: 16px;
    }
  }